### Tuples
- t1 parenthesis() li square brackets[]
- differences between list and tuples
   - list are mutable - can be changed/modified
        - used to access modifiy,add,delete data
   - tuples are immutable-cannot be changed
       - used to access data only

In [15]:
t1=(1,2,3,4,5,6)
t1
type(t1)

tuple

## Data structures
- Dictionaries

### Dictionaries
- It works on the concept of set unique data
- Keys,values is the unique identifier for a value
- Each key is seperated from its values with colon(:)
- Each key and value is seperated by a comma(,)
- Dictionaries enclosed with curly braces({})

In [3]:
d1={"Name":"Gitam","Email.id":"gitam@gmail.com","Address":"Hyderabad"}
print(d1)

{'Name': 'Gitam', 'Email.id': 'gitam@gmail.com', 'Address': 'Hyderabad'}

In [5]:
d1["Name"]

'Gitam'

In [6]:
d1['Email.id']='gitam-python@gmail.com'

In [7]:
d1['Email.id']

'gitam-python@gmail.com'

In [17]:
del d1['Email.id']

KeyError: 'Email.id'

In [10]:
d1

{'Name': 'Gitam', 'Address': 'Hyderabad'}

In [12]:
d1.keys()# returns the list of keys

dict_keys(['Name', 'Address'])

In [13]:
d1.values()# returns the values

dict_values(['Gitam', 'Hyderabad'])

In [14]:
d1.items()# the list of tuples of keys and values

dict_items([('Name', 'Gitam'), ('Address', 'Hyderabad')])

### Contact applications
- add contact
- search the contact
- list all contacts 
  - name1: phone1
  - name2: phone2
- modify the contact
- remove the contact
- import the contact

In [19]:
# add contact
contacts ={}#creating a dict objects
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact is details are added")
    else:
        print("contact details are already exists ")
    return
addcontact('jyothsna','43412518620')
addcontact('sreelekha','76813238446')
addcontact('shravya','2737935141')
addcontact('sreelekha','76813238446')

contact is details are added
contact is details are added
contact is details are added
contact details are already exists

In [20]:
# search for contacts details
def searchcontact(name):
    if name in contacts:
        print(name,":",contacts[name])
    else:
        print("%s does not exists" % name)
    return
searchcontact('jyothsna')
searchcontact('sreelekha')
searchcontact('jyo')

jyothsna : 43412518620
sreelekha : 76813238446
jyo does not exists

In [25]:
# import some contacts
# mergesome contacts
def importcontact(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),"contacts added sucessfully")
    return
newcontacts={'dinesh':8746542212,'ajay':1574531245}
importcontact(newcontacts)

2 contacts added sucessfully

In [26]:
contacts

{'jyothsna': '43412518620',
 'sreelekha': '76813238446',
 'shravya': '2737935141',
 'dinesh': 8746542212,
 'ajay': 1574531245}

In [29]:
# delete a contact 
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print(name,"deleted successfully")
    else:
        print(name,"not exists")
    return
deletecontact('dinesh')
deletecontact('jyo')

dinesh not exists
jyo not exists

In [28]:
contacts

{'jyothsna': '43412518620',
 'sreelekha': '76813238446',
 'shravya': '2737935141',
 'ajay': 1574531245}

In [33]:
# update the contact details
def deletecontact(name,phone):
    if name in contacts:
        contacts[name]=phone
        print(name,"update detail sccessfully")
    else:
        print(name,"not exists")
    return
deletecontact('anil',554274521)
deletecontact('ajay',1574531245)

anil not exists
ajay update detail sccessfully

In [40]:
# assignment 
# program to print fibnacci in reverse 

def reverseFibonacci(n): 
    a = [0] * n  
    a[0] = 0 
    a[1] = 1
    for i in range(2, n):   
        a[i] = a[i - 2] + a[i - 1]  
    for i in range(n - 1, -1 , -1):   
        print(a[i],end=" ")  
n = 5 
reverseFibonacci(n)

3 2 1 1 0

In [41]:
# assgn 
def square(n):
    for i in range(n):
        k=3**i
        print(k)
    return
square(5)

1
3
9
27
81

In [42]:
# assgn
def twopow(n):
    for i in range(n):
        k=2**i
        print(k)
    return
twopow(10)

1
2
4
8
16
32
64
128
256
512

In [48]:
# assgn
def generateseries(n):
    a=1
    b=3
    c=4
    print(a)
    print(b)
    for i in range(n):
        sum=a+b+c
        a=b
        b=c
        c=sum
        print(sum)
    return
generateseries(10)

1
3
8
15
27
50
92
169
311
572
1052
1935

In [49]:
# classicalversion
li=["python","programming"]
print("%s %s" % (li[0],li[1]))

python programming

In [51]:
print("{0} {1}".format(li[0],li[1]))

python programming

In [53]:
li1=[1,2,3,4]
print("%d %d %d %d"%(li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

In [54]:
print("{0} {1} {2} {3}".format(li1[0],li1[1],li1[2],li1[3]))

1 2 3 4

### string functions
- upper() -- will converts the given string into uppercase
- lower() -- will converts the given string into lowercase

In [55]:
s1='Gitam'
print(s1.upper())
print(s1.lower())

GITAM
gitam

### Boolean Function(True and False)
- islower()--True if the string is lowercase/False if the string not in lowercase
- isupper()--true if the string is uppercase/false if the string not in uppercase
- istitle() -- True if string follows title case/False
- isalpha() -- True if it contains only alphabets/false
- isnumeric -- True if the string contains only numbers/false
- isspace --  true if the string contains only space/false

In [56]:
s1='GITAM'
print(s1.islower())
print(s1.isupper())

False
True

In [57]:
s2="Python Programming"
s3="python Programing"
print(s2.istitle())
print(s3.istitle())

True
False

In [59]:
s2="Application1889"
s3="PythonProgramming"
print(s2.isalpha())
print(s3.isalpha())

False
True

In [61]:
s1="1234"
s2="Application1234"
print(s1.isnumeric())
print(s2.isnumeric())

True
False

In [62]:
s1=" "
s2="Py th on"
print(s1.isspace())
print(s2.isspace())

True
False

### string methods
- 1.join()--method will concatinates the two strings
- 2.split()--split() returns to a list of strings separeted by whitespace(no parameters are give) 
- 3.replace()-- replaces the specific word or charactwer with new word or character

In [63]:
s1="Python"
print(" ".join(s1))

P y t h o n

In [64]:
s2="Python programming easy to learn"
print(",".join(s2))

P,y,t,h,o,n, ,p,r,o,g,r,a,m,m,i,n,g, ,e,a,s,y, ,t,o, ,l,e,a,r,n

In [69]:
li=['Python','Programming','Learn']
print(",".join(li))

Python,Programming,Learn

In [71]:
s2="Python programming easy to learn"
print(s2.split())

['Python', 'programming', 'easy', 'to', 'learn']

In [72]:
s2="Python programming easy to learn"
print(s2.split('a'))

['Python progr', 'mming e', 'sy to le', 'rn']

In [73]:
s2="Python programming easy to learn"
li=s2.split()# split the string--list objects
print(li)
print(len(li))

['Python', 'programming', 'easy', 'to', 'learn']
5

In [74]:
s2="Python programming easy to learn"
li=list(s2)
print(li)

['P', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [75]:
s2="Python programming easy to learn"
print(s2.replace("gra","Application"))

Python proApplicationmming easy to learn

In [2]:
# aasgn
def series(n):
    m=2
    for i in range(n):
        r=13*i+m
        print(r,end=" ")
        m=r
    return
series(10)

2 15 41 80 132 197 275 366 470 587

## Packages and Modules
### packages:
- a collection of modules(single python file.py) and subpackages
### modules:
- a single python file containing set functions

### Packages-->Subpackages-->Modules-->Functions-->statements

In [4]:
# import  the externals packages to python file
import math
math.floor(123.45)

123

In [5]:
from math import factorial as fact
fact(5)

120

In [6]:
from math import gcd as gcd
gcd(10,15)

5

In [14]:
# function to generate n random numbers in given range
import random 
def randomnumbers(n,lb,ub):
    for i in  range(0,n):
        print(random.randint(lb,ub),end=" " )
    return
randomnumbers(10,0,100)

6 37 10 44 2 25 100 67 42 94

In [18]:
# create a single game
# generate 20 random numbers 0 to 500
# input: numbers
# output: congarts
#     try once again!!!
def generatenumbers(n,lb,ub):
    li=[]
    for i in range(0,n):
        li.appened(random.randint(lb,ub))
    return li
def check(n):
    if n in li:
        return "congrats!!!"
    else:
        return "try once again!!!"
    return
li=[1,13,5]
check(15)

'try once again!!!'

In [15]:
# assgn
def num(n):
    a=8
    b=1
    c=n//2
    print(1)
    for i in range(1,c+1):
        for i in range(1,3):
            b=b+a
            print(b)
        a=a+8
    return
num(10)

1
9
17
33
49
73
97
129
161
201
241

In [19]:
#assgn
#individual digits factorial sum
def sum(n):
    for i in range(1,n+1):
        fact=1
        if i<=n:
            print(i,end="!+")
    return 
sum(8)

1!+2!+3!+4!+5!+6!+7!+8!+